@use '/src/assets/styles/colors.scss';

.listbox {
    width: calc(100% - 1rem);
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: colors.$ink000;
    box-shadow: 0 0.5rem 1.5rem24px -0.25rem colors.$shadow;
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    clip-path: inset(0 0 100% 0);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, clip-path 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.listbox--expanded {
    clip-path: inset(0 0 0 0);
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear, clip-path 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.listbox__item {
    box-sizing: border-box;
    padding: 0.5rem;
    height: 2rem;
    color: colors.$ink600;
    border-radius: 0.25rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &:hover {
        background-color: rgba(colors.$ink100, 0.5);
    }
}

.listbox__item__button {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
    text-align: left;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.75rem;
}

.listbox__item--mark {
    background-color: colors.$ink100;
}
