$charcoal100: #212121;
$charcoal200: #4d4d4d; // rgba($charcoal, .8) over pure white
$charcoal300: #7a7a7a; // rgba($charcoal, .6)  over pure white
$charcoal400: #a6a6a6; // rgba($charcoal, .4)  over pure white
$charcoal500: #d3d3d3; // rgba($charcoal, .2)  over pure white
$charcoal600: #e8e8e8; // rgba($charcoal, .1)  over pure white
$charcoal700: #f4f4f4; // rgba($charcoal, .05)  over pure white

$error: #b11515;

$blue100: #3e5bc4;
$blue600: #dde1ee;

$pink600: #ca3b57;
$pink100: #f2e1e1;

$ink600: #5a6474;
$ink300: #babfc7;
$ink200: #f1f2f3;
$ink100: #f8f8f8;
$ink000: #fff;

$gray200: #434343;

$shadow: rgba(27, 46, 94, 0.12);
